:root {
    --primary-clr: hsl(0, 0%, 0%);
    --hover-clr: hsl(0, 0%, 50%);
    --border-clr: hsl(0, 0%, 90%);
    --text-clr: hsl(0, 0%, 90%);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    color: var(--text-clr);
    background-color: var(--primary-clr);
}

p {
    padding: 10px;
    text-align: justify;
    border: 1.5px solid var(--border-clr);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}