@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: hsl(0, 0%, 8%);
    --hover-clr: rgb(202, 118, 132);
    --border-clr: hsl(0, 0%, 85%);
    --text-clr: hsl(0, 0%, 85%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    color: var(--text-clr);
    background-color: var(--primary-clr);
}

body {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

p {
    padding: 10px;
    text-align: justify;
    border: 1.5px solid var(--border-clr);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}