#login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: inline-block;
    border: 1.5px solid var(--border-clr);
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}

#login input {
    display: block;
    border: 1.5px solid var(--border-clr);
    border-radius: 6px;
    margin: 20px;
    padding: 4px;
    width: 200px;
}

#login button {
    border: 1.5px solid var(--border-clr);
    border-radius: 6px;
    display: inline;
    padding: 10px 20px 10px 20px;

    margin-bottom: 10;
}

#login button:hover {
    background-color: var(--hover-clr);
    color: black;
}

#login button:focus {
    background-color: var(--hover-clr);
    color: black;
}

#login input:focus {
    background-color: var(--hover-clr);
    color: black;
}

#login input:focus::placeholder {
    color: black;
    border-color: black;
}