.navbar {
    --navbar-bg: var(--highlight-clr);
    --navbar-link: var(--primary-clr);
    --navbar-link-hover: var(--hover-clr);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--navbar-bg);
}

.navbar-links {
    display: flex;
}

.navbar-links-right {
    display: flex;
    margin-left: auto;
}

.navbar-link {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    color: var(--navbar-link);
}

.navbar-link:hover {
    background-color: var(--navbar-link-hover);
}

.navbar-link a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.navbar-link a:visited {
    color: var(--navbar-link);
}
