#register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register {
    display: inline-block;
    border: 1.5px solid var(--border-clr);
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}

#register input {
    display: block;
    border: 1.5px solid var(--border-clr);
    border-radius: 6px;
    margin: 20px;
    padding: 4px;
    width: 200px;
}

#register button {
    border: 1.5px solid var(--border-clr);
    border-radius: 6px;
    display: inline;
    padding: 10px 20px 10px 20px;

    margin-bottom: 10;
}

#register button:hover {
    background-color: var(--hover-clr);
}

#register button:focus {
    background-color: var(--hover-clr);
}

#register input:focus {
    background-color: var(--hover-clr);
}