* {
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 20px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(8, 8, 33);
    color: white;
    line-height: 1.5;
    font-size: 14;
}

main {
    margin: 40px;
    padding: 40px;
}

ul {
    list-style: none;
}

ul li {
    margin: 60px;
    list-style-type: none;
}