<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="../static/global.css">
</head>

<body>
  <main>
    <h1>Go web application number 1</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, sollicitudin id diam sit amet, porta pellentesque eros. Ut
      tincidunt dolor ut pellentesque tincidunt. Morbi malesuada leo non
      eleifend congue. Suspendisse potenti. Praesent interdum tortor eget mollis
      luctus. Quisque euismod pellentesque felis, in eleifend sem. Pellentesque
      justo metus, lacinia et ante consectetur, congue molestie magna. Fusce
      tristique lacus sed neque blandit fermentum. Phasellus elementum dolor
      magna, non elementum dolor porta et. Nullam viverra accumsan lectus quis
      lobortis. Proin vulputate lorem nisi, ut finibus metus accumsan vel. Nunc
      vel semper magna. </p>
    <br>
    <p>In hac habitasse platea dictumst. Proin malesuada tellus eget sem
      vehicula, vitae sagittis urna mattis. Vestibulum porttitor pretium urna.
      Morbi ut dui laoreet, placerat metus vitae, consequat est. Mauris
      porttitor eu turpis ac fermentum. Aenean ut aliquam magna. Aliquam
      convallis egestas magna, efficitur facilisis nisl euismod at. Suspendisse
      potenti. Vivamus efficitur vestibulum molestie. Nulla non dolor egestas,
      sagittis tortor at, vehicula erat. Aliquam dictum mauris in tellus
      fringilla, et sollicitudin massa sodales. </p>
    <br>
    <p>Aenean at sollicitudin metus. Vestibulum ante ipsum primis in faucibus
      orci luctus et ultrices posuere cubilia curae; Nam nec consectetur lorem.
      Pellentesque sit amet nisi non arcu efficitur dapibus. Donec a aliquam
      felis. Duis scelerisque egestas tincidunt. Nunc id pretium dolor. Ut
      venenatis risus at lobortis sollicitudin. Vivamus felis neque, mattis ac
      sodales ornare, lacinia nec lectus. Vestibulum feugiat, ante at tempus
      hendrerit, elit felis scelerisque orci, nec elementum eros mauris a mi.
      Aenean ex neque, condimentum a consequat sed, semper venenatis sapien.
    </p>
    <br>
    <p>Cras vitae fringilla diam, a finibus nisl. Interdum et malesuada fames ac
      ante ipsum primis in faucibus. Mauris vestibulum sollicitudin quam, vel
      placerat risus varius ut. Cras eleifend mauris sodales arcu scelerisque
      mollis. Etiam semper euismod ultrices. Cras sit amet nunc non nisi
      ullamcorper tincidunt sit amet non risus. Maecenas metus eros, venenatis
      eleifend sagittis quis, tincidunt sed neque. Pellentesque fermentum
      maximus ante at sollicitudin. </p>
    <br>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Aenean placerat justo nec maximus finibus. Nullam augue
      risus, viverra convallis sodales vel, ornare sed lacus. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Vivamus congue dictum diam, ut fermentum risus rutrum in. Sed
      in justo et mi sollicitudin ultrices nec ac metus. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Maecenas malesuada commodo enim vitae gravida. Morbi porta ipsum nec eros
      aliquet egestas. </p>
    <br>
    <p> Nulla at libero ut lectus ullamcorper mattis vel quis leo. Sed ut sapien
      tincidunt, malesuada tortor vitae, eleifend felis. Sed facilisis arcu
      sapien, ac luctus est porttitor id. Curabitur volutpat porta nunc eget
      mollis. Aenean cursus elementum ullamcorper. Nunc elementum mauris nec leo
      maximus, vel ultricies risus eleifend. Nulla maximus nisl vel justo
      ornare, ac finibus velit interdum. Nam sed malesuada nisl. Nullam aliquet
      convallis sapien. Sed at consectetur tortor. Morbi elementum quis metus
      vitae luctus. Integer commodo, augue at hendrerit blandit, tellus odio
      posuere tellus, vel rutrum tellus odio ac mi. </p>
    <br>
  </main>
</body>

</html>