<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/landing.css">
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
  <main>
    <div class="login-container">
      <h1>Login</h1>
      <form hx-post="/login" hx-swap="none" method="post">
        <div>
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div>
          <input type="password" name="password" placeholder="Password"
            required>
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
        {{if .ErrorMessage}}
        <div class="error-message">
          {{.ErrorMessage}}
        </div>
        {{end}}
      </form>
    </div>
  </main>
</body>

</html>