<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request info</title>
  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/request-info.css">
</head>

<body>
  <main>
    <h2>Request info</h2><br>
    <p>URL: {{.URL}}</p><br>
    <p>Host: {{.Host}}</p><br>
    <p>Protocol: {{.Protocol}}</p><br>
    <p>Method: {{.Method}}</p><br>
    <p>Content length: {{.Content}}</p><br>
  </main>
</body>

</html>