{{define "create-post"}}

<div id="create-post-wrapper">
  <div id="create-post">

    <form hx-post="/post/create">

      <h3>Go post!</h3>

      <div>
        <input type="text" id="title" name="title" placeholder="Post title"
          required />
      </div>

      <div>
        <textarea id="content" name="content" placeholder="What am i thinking?" required></textarea>
      </div>

      <div>
        <button type="submit">Post</button>
      </div>

    </form>

  </div>
</div>

{{end}}