{{define "create-post"}}

<div id="create-post-wrapper">
  <div id="create-post">

    <form hx-post="/post">

      <div>
        <input type="text" id="title" name="title" placeholder="Post title"
          required pattern="\S.*"
          title="Title cannot be empty or whitespace only" />
      </div>

      <div>
        <textarea rows="20" id="content" name="content"
          placeholder="What am i thinking?" required pattern="\S.*"
          title="Post cannot be empty or whitespace only"></textarea>
      </div>

      <p style="font-size: 80%;">Categories (use CTRL+click to select multiple)</p>
      <select id="categories" name="categories" multiple>
        {{range .Categories}}
        <option id="category" value="{{.}}">{{.}}</option>
        {{end}}
      </select>


      <div>
        <button type="submit">Post</button>
      </div>

    </form>

  </div>
</div>

{{end}}