{{define "home"}}

<div id="home">
  <h1 class="title">Go posty!</h1>

  <p class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur eu
    orci placerat, tempus diam imperdiet, iaculis urna. Vestibulum euismod
    sagittis lacus eu bibendum. Sed dapibus ullamcorper tincidunt. Etiam
    aliquet sagittis tortor non hendrerit. Praesent consequat mattis ipsum ut
    consectetur. Curabitur in consectetur ipsum, at pellentesque tellus.
    Integer eu lacinia tortor. Nullam elit augue, fermentum quis lobortissed,
    faucibus in mi. Cras nec ultricies augue, non condimentum magna. Nuncnec
    risus mauris. Donec porta condimentum molestie. Quisque maximus mauriseu
    magna interdum tempor. Aliquam laoreet sed tellus venenatis iaculis.</p>

  <p class="box">Ut vitae vulputate sem, quis feugiat arcu. In imperdiet elit in
    aliquam
    rutrum. Pellentesque eros nisl, eleifend a vehicula eget, lobortis id justo.
    Fusce et arcu augue. Suspendisse efficitur sollicitudin fringilla. Cras sed
    vestibulum turpis. Aenean ultricies diam sed lorem mattis eleifend. Quisque
    scelerisque eleifend fermentum. Suspendisse ac lacus non justo rhoncus
    aliquam
    nec aliquet mauris. Ut nec posuere dui, id lacinia dolor. Pellentesque
    posuere
    ipsum nec risus volutpat, ut iaculis nibh convallis. Vestibulum eu risus
    ante.
    Maecenas aliquet consectetur diam, ut gravida elit fermentum tincidunt. </p>

  <p class="box">Quisque ante est, fermentum at hendrerit eget, pharetra
    ultrices ex. Aenean
    pellentesque dictum orci, et maximus tellus varius euismod. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Nullam molestie sapien velit, nec porttitor eros luctus et. Duis ut
    tortor rutrum, aliquam massa at, feugiat risus. Quisque vitae tortor id
    magna
    convallis vestibulum et ac eros. Fusce non dapibus nunc. Nunc sagittis augue
    id lacus maximus molestie. Cras purus massa, molestie sit amet pellentesque
    eu, dapibus id neque. Sed sagittis vitae nisi eget malesuada. Maecenas
    varius
    viverra felis, sit amet tempus sem. Nunc in sapien ornare, ultricies velit
    non, pretium elit. Maecenas pellentesque dapibus dignissim. </p>

  <p class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur eu
    orci placerat, tempus diam imperdiet, iaculis urna. Vestibulum euismod
    sagittis lacus eu bibendum. Sed dapibus ullamcorper tincidunt. Etiam
    aliquet sagittis tortor non hendrerit. Praesent consequat mattis ipsum ut
    consectetur. Curabitur in consectetur ipsum, at pellentesque tellus.
    Integer eu lacinia tortor. Nullam elit augue, fermentum quis lobortissed,
    faucibus in mi. Cras nec ultricies augue, non condimentum magna. Nuncnec
    risus mauris. Donec porta condimentum molestie. Quisque maximus mauriseu
    magna interdum tempor. Aliquam laoreet sed tellus venenatis iaculis.</p>

  <p class="box">Ut vitae vulputate sem, quis feugiat arcu. In imperdiet elit in
    aliquam
    rutrum. Pellentesque eros nisl, eleifend a vehicula eget, lobortis id justo.
    Fusce et arcu augue. Suspendisse efficitur sollicitudin fringilla. Cras sed
    vestibulum turpis. Aenean ultricies diam sed lorem mattis eleifend. Quisque
    scelerisque eleifend fermentum. Suspendisse ac lacus non justo rhoncus
    aliquam
    nec aliquet mauris. Ut nec posuere dui, id lacinia dolor. Pellentesque
    posuere
    ipsum nec risus volutpat, ut iaculis nibh convallis. Vestibulum eu risus
    ante.
    Maecenas aliquet consectetur diam, ut gravida elit fermentum tincidunt. </p>

  <p class="box">Quisque ante est, fermentum at hendrerit eget, pharetra
    ultrices ex. Aenean
    pellentesque dictum orci, et maximus tellus varius euismod. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Nullam molestie sapien velit, nec porttitor eros luctus et. Duis ut
    tortor rutrum, aliquam massa at, feugiat risus. Quisque vitae tortor id
    magna
    convallis vestibulum et ac eros. Fusce non dapibus nunc. Nunc sagittis augue
    id lacus maximus molestie. Cras purus massa, molestie sit amet pellentesque
    eu, dapibus id neque. Sed sagittis vitae nisi eget malesuada. Maecenas
    varius
    viverra felis, sit amet tempus sem. Nunc in sapien ornare, ultricies velit
    non, pretium elit. Maecenas pellentesque dapibus dignissim. </p>

</div>

{{end}}