<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="static/css/global.css">

  <title>Welcome</title>

</head>

<body>

  <main>

    <h1>Go posty!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu
      orci placerat, tempus diam imperdiet, iaculis urna. Vestibulum euismod
      sagittis lacus eu bibendum. Sed dapibus ullamcorper tincidunt. Etiam
      aliquet sagittis tortor non hendrerit. Praesent consequat mattis ipsum ut
      consectetur. Curabitur in consectetur ipsum, at pellentesque tellus.
      Integer eu lacinia tortor. Nullam elit augue, fermentum quis lobortis sed,
      faucibus in mi. Cras nec ultricies augue, non condimentum magna. Nunc nec
      risus mauris. Donec porta condimentum molestie. Quisque maximus mauris eu
      magna interdum tempor. Aliquam laoreet sed tellus venenatis iaculis. </p>

  </main>

</body>

</html>