{{define "navbar"}}

<nav>
  <ul>
    <li>
      <a href="#" hx-get="/home" hx-target="#content"
        hx-swap="innerHTML">Home</a>
    </li>

    <li>
      <a href="#" hx-get="/post/all" hx-target="#content"
        hx-swap="innerHTML">Explore</a>
    </li>

    <li>
      <a href="#" hx-get="/post" hx-target="#content" hx-swap="innerHTML">Your
        posts</a>
    </li>

    <li>
      <a href="#" hx-get="/post/create" hx-target="#content"
        hx-swap="innerHTML">Create post</a>
    </li>

    <li class="register">
      <a href="#" hx-get="/register" hx-target="#content"
        hx-swap="innerHTML">Register</a>
    </li>

    <li>
      <a href="#" hx-get="/login" hx-target="#content"
        hx-swap="innerHTML">Login</a>
    </li>
  </ul>
</nav>

{{end}}