{{define "navbar"}}

<nav class="navbar">

  <div class="navbar-links">

    <div class="navbar-link">
      <a href="#" hx-get="/home" hx-target="#content" hx-swap="innerHTML">
        Home
      </a>
    </div>

    <div class="navbar-link">
      <a href="#" hx-get="/post/all" hx-target="#content" hx-swap="innerHTML">
        Explore
      </a>
    </div>

    <div class="navbar-link">
      <a href="#" hx-get="/post" hx-target="#content" hx-swap="innerHTML">
        Your posts
      </a>
    </div>

    <div class="navbar-link">
      <a href="#" hx-get="/post/create" hx-target="#content"
        hx-swap="innerHTML">
        Create post
      </a>
    </div>

  </div>

  <div class="navbar-links-right">

    <div class="navbar-link">
      <a href="#" hx-get="/register" hx-target="#content" hx-swap="innerHTML">
        Register
      </a>
    </div>

    {{if .IsLoggedIn}}

    <div class="navbar-link">
      <a href="#" hx-post="/logout" hx-target="#content"
        hx-swap="innerHTML">
        Logout
      </a>
    </div>

    {{else}}

    <div class="navbar-link">
      <a href="#" hx-get="/login" hx-target="#content" hx-swap="innerHTML">
        Login
      </a>
    </div>

    {{end}}
    
  </div>

</nav>

{{end}}